@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-color : gray;
}

header{
  background-color : red;
}

#main1{
  background-color: orange;
  width : 500px;
}

#main2{
  background-color:yellow;
  width : 400px;
}

aside{
  background-color:green;
  width : 300px;
}

footer{
  background-color:blue;
}
