@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-color : gray;
  margin : 48px 0 0 0;
}

header{
  background-color : red;
  position :fixed;
  left:0;
  top:0;
  width:100%;
  z-index:+1;
}

#picture{
  width:24px;
  position : absolute;
  left:50px;
  top:50px;
}

.box{
  background-color:orange;
  color:black;
  width:240px;
  height:80px;
  margin:5px;
  float:left;
  overflow:auto;
}

#main{
  background-color: white;
  width : calc(100%-200px);
  min-width:500px;
  float : left;
}

#main1{
  background-color: orange;
  width : 500px;
  float : left;
}

#main2{
  background-color:yellow;
  width : 500px;
  float : left;
}

aside{
  background-color:green;
  width : 200px;
  float : right;
  position : relative;
  top : 20px;
  right : 10px;
}

footer{
  background-color:blue;
  width : 200px;
  clear : both;
}
